# --- Fortran Junk ---
*.o
*.mod
*.smod
*.out
*.exe

# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# --- Simulation Data (The big stuff) ---
*.xyz
*.csv
*.dat
*.log
*.out
*.png

# --- OS/Editor Junk ---
.DS_Store
Thumbs.db
.vscode/
.history
simulator/
## paper
paper/
!paper/paper.tex
## txt 
*.txt
